﻿@model UsuarioModel



@{
    Layout = "../Shared/_LayoutLogin";

    try
    {
        if (TempData["MensagemSucesso"].ToString() != null)
        {
    <div class="alert alert-success" role="alert">
        <strong>Parabens!</strong> @TempData["MensagemSucesso"] Clique <a href='../Usuario/Login'>aqui</a> para entrar no sistema!
    </div>
        }

    }

    catch { }
}

<h1>Registrar</h1> <br />


<form asp-controller="Usuario" asp-action="Registrar">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Entre com seu nome">
        <span asp-validation-for="Nome"></span>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Entre com seu email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" asp-for="Senha" placeholder="Entre com sua senha">
        <span asp-validation-for="Senha"></span>
    </div>
    <div class="form-group">
        <label for="password">Data de Nascimento:</label>
        <input type="date" class="form-control" asp-for="Data_Nascimento" placeholder="Entre com sua Data de Nascimento">
        <span asp-validation-for="Data_Nascimento"></span>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
    <button type="button" class="btn btn-info" onclick="javascript: window.location.href='../Usuario/Login'">Voltar ao Login</button>

</form>