﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Minhas Contas</h2> <br />


<button type="button" class="btn btn-primary" onclick="CriarConta()">Criar Conta</button> <br /><br />


<input type="file" class="custom-file" value="Importar Plano Conta" />


<table class="table table-bordered">

    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Nome</th>
            <th>Saldo</th>
        </tr>
    </thead>


    @{ 


        foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
        {

            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button></td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.NomeConta.ToString()</td>
                    <td>R$ @item.Saldo.ToString()</td>
                </tr>
            </tbody>
            }
       
    }

</table>


<script>

    function CriarConta() {

        window.location.href = "../Conta/CriarConta"
    }

    function Excluir(id_conta) {

        window.location.href = "../Conta/ExcluirConta/" + id_conta;

    }
</script>