﻿
@{
    ViewData["Title"] = "DashBoard";
}

<h1>DashBoard</h1>
<br />
<br />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<div id="canvas-holder" style="width:60%">
    <canvas id="chart-area"></canvas>
</div>
<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [

                    @Html.Raw(ViewBag.Valores)
                ],
                backgroundColor: [

                   @Html.Raw(ViewBag.cores)
                ],

                label: 'Dataset 1'
            }],
            labels: [

                @Html.Raw(ViewBag.labels)
            ]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };


</script>

