﻿@model TransacaoModel

<h1>Meu Extrato</h1>

<div class="container">
    <form asp-controller="Transacao" asp-action="Extrato">
        <div class="form-group">
            <label>Data Transação (Inicio): </label>
            <input type="date" asp-for="Data" class="form-control" />
        </div>
        <div class="form-group">
            <label>Data Transação (Final): </label>
            <input type="date" asp-for="Data" class="form-control" />
        </div>
        <div class="form-group">
            <label>Tipo Transação: </label>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="A" checked />Receitas e Despesas</label></div>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="R" />Receita</label></div>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="D" />Despesa</label></div>
        </div>

        <div class="form-group">
            <label>Conta: </label>
            <select asp-for="Conta_id" class="form-control">
                @{
                    foreach (var item in (List<ContaModel>)ViewBag.ListaContas)
                    {
                        <option value="@item.Id.ToString()">@item.NomeConta.ToString()</option>
                    }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-success">Pesquisar</button>
    </form>
</div>
<br />

<table class="table table-bordered">


    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Historico</th>
            <th>Conta</th>
            <th>Plano de Contas</th>
            <th>Ação</th>
        </tr>
    </thead>

    @{
        var TotalReceitas = 0.0;
        var TotalDespesas = 0.0;
        var vsaldo = 0.0;

        foreach (var item in (List<TransacaoModel>)ViewBag.ListaTransacao)
        {
            <tbody>
                <tr>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Data.ToString()</td>
                    <td>@item.Tipo.ToString().Replace("R", "Receita").Replace("D", "Despesa")</td>
                    <td>R$ @item.Valor.ToString()</td>
                    <td>@item.Descricao</td>
                    <td>@item.NomeConta.ToString()</td>
                    <td>@item.DescricaoPlanoConta.ToString()</td>
                    <td><button type="button" class="btn btn-primary" onclick="Editar(@item.Id.ToString())">Editar</button></td>
                </tr>

                @{
                    if (item.Tipo == "D")
                    {
                        TotalDespesas += double.Parse(item.Valor.ToString());
                    }

                    TotalReceitas += double.Parse(item.Valor.ToString());
                }
            </tbody>
        }

        vsaldo = TotalReceitas - TotalDespesas;

    }

</table>
<h4><strong>Saldo:</strong> R$@vsaldo</h4>

<script>

    function Editar(id) {

        window.location.href = "../Transacao/Registrar/" + id;
    }

</script>