﻿<h2>Minhas Transações</h2> <br />

<button type="button" class="btn btn-primary" onclick="RegistrarTransacao()">Registrar Transação</button> <br /><br />

<div class="table-responsive-lg">

    <table class="table table-bordered">


        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Historico</th>
                <th>Conta</th>
                <th>Plano de Contas</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        @{
            foreach (var item in (List<TransacaoModel>)ViewBag.ListaTransacao)
            {
                <tbody>
                    <tr>
                        <td>@item.Id.ToString()</td>
                        <td>@item.Data.ToString()</td>
                        <td>@item.Tipo.ToString().Replace("R", "Receita").Replace("D", "Despesa")</td>
                        <td>R$ @item.Valor.ToString()</td>
                        <td>@item.Descricao</td>
                        <td>@item.NomeConta.ToString()</td>
                        <td>@item.DescricaoPlanoConta.ToString()</td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="Editar(@item.Id.ToString())">Editar</button>
                            <button type="button" class="btn btn-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button>

                        </td>
                    </tr>
                </tbody>
            }
        }

    </table>



    @* MODAL EXCLUIR *@

    <div class="modal fade" id="ExcluirTransacao" tabindex="-1" role="dialog" aria-labelledby="ExcluirTransacao" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Excluir Esta Transação?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-content">
                    <button type="button" class="btn btn-danger" onclick="Excluir(@Html.ViewBag.Registro)">Sim! Quero Excluir</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    function RegistrarTransacao() {

        window.location.href = "../Transacao/Registrar";
    }

    function Excluir(id) {

        window.location.href = "../Transacao/Excluir/" + id;
    }
    function Editar(id) {

        window.location.href = "../Transacao/Registrar/" + id;
    }
</script>