﻿@model TransacaoModel

@{
    ViewData["Title"] = "CriarPlanoConta";
}

<h2>Registrar Transação</h2> <br />

@{
    var vData = "";
    var vTipo = "";
    var vValor = 0.0;
    var vDescricao = "";
    var vId = 0;
    var vContaId = 0;
    var vPlaContasId = 0;

    try
    {
        vId = int.Parse(@ViewBag.Registro.Id.ToString());
        vData = DateTime.Parse(@ViewBag.Registro.Data.ToString()).ToString("yyyy-MM-dd");
        vContaId = int.Parse(@ViewBag.Registro.Conta_id.ToString());
        vPlaContasId = int.Parse(@ViewBag.Registro.Plano_Contas_Id.ToString());
        vDescricao = @ViewBag.Registro.Descricao.ToString();
        vTipo = @ViewBag.Registro.tipo.ToString();
        vValor = double.Parse(@ViewBag.Registro.valor.ToString());
    }

    catch { }

}

<div class="container">
    <form asp-controller="Transacao" asp-action="Registrar">
        <input type="hidden" asp-for="Id" value="@vId" />

        <div class="form-group">
            <label>Data:</label>
            <input type="date" class="form-control" asp-for="Data" value="@vData">
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label for="name">Tipo:</label>
            @{
                if (vTipo == "R")
                {
                    <div class="radio"><label><input type="radio" class="form-control" asp-for="Tipo" value="R" checked>Receita</label></div>
                    <div class="radio"><label><input type="radio" class="form-control" asp-for="Tipo" value="D" unchecked>Despesa</label></div>
                }
                else
                {
                    <div class="radio"><label><input type="radio" class="form-control" asp-for="Tipo" value="R" unchecked>Receita</label></div>
                    <div class="radio"><label><input type="radio" class="form-control" asp-for="Tipo" value="D" checked>Despesa</label></div>
                }
            }

        </div>


        <div class="form-group">
            <label>Valor:</label>
            <input type="number" class="form-control" asp-for="Valor" value="@vValor">
            <span asp-validation-for="Valor"></span>
        </div>

        <div class="form-group">
            <label>Histórico:</label>
            @Html.TextArea("Descricao", vDescricao, new { @class = "form-control" })
            <span asp-validation-for="Descricao"></span>
        </div>

        <div class="form-group">
            <label>Conta: </label>
            <select asp-for="Conta_id" class="form-control">
                @{
                    foreach (var item in (List<ContaModel>)ViewBag.ListaContas)
                    {
                        if (item.Id.ToString() == vContaId.ToString())
                        {
                            <option selected value="@item.Id.ToString()">@item.NomeConta.ToString()</option>
                        }
                        else
                        {
                            <option value="@item.Id.ToString()">@item.NomeConta.ToString()</option>
                        }

                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label>Plano de Contas: </label>
            <select asp-for="Plano_Contas_Id" class="form-control">
                @{
                    foreach (var item in (List<PlanoContasModel>)ViewBag.ListaPlanoContas)
                    {
                        if (item.Id.ToString() == vPlaContasId.ToString())
                        {
                            <option selected value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                        }
                        <option value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                    }
                }
            </select>
        </div>


        <button type="submit" class="btn btn-success">Registrar</button>
    </form>
</div>